<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%.15t] %-5p %c{1}:%L - %m%n"/>
    </Console>
    <Console name="ErrorConsole" target="SYSTEM_ERR">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%.15t] %-5p %c{1}:%L - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="all">
      <AppenderRef ref="Console" level="WARN"/>
<!--      <AppenderRef ref="ErrorConsole" level="ERROR"/>-->
    </Root>
  </Loggers>
</Configuration>